// COMPONENT - Text cols

.c-textCols {
  margin-left: -$gutter;
  @include cf;

  &_item {
    padding-left: $gutter;
    margin-bottom: $rhythm;
  }

  &_title {
    @include vr(20px, 1, 1);
  }

  @include bp(20) {

    &_item {
      float: left;
      width: 33.33%;
    }
  }
}
