// A-SETTINGS/COLOURS - global site colours

$colours: (
  main: (
    bg       : #F7F7F7,
    text     : #545454,
    links    : inherit,
    borders  : #e2e2e2
  ),
  brand: (
    a        : #D4BF6B,
    b        : #1C1C1C
  )
);
