// A-SETTINGS/VARIABLES - Global

$font-url 				      : 'https://fonts.googleapis.com/css?family=Open+Sans|Titillium+Web';

// FONT/LINE HEIGHT SETTINGS
$font-size-px           : 16px;
$line-height-px         : $font-size-px * 1.5;

// FONT SETTINGS (GLOBAL);
$font-family            : 'Open Sans', sans-serif;
$font-size 			        : 100%;
$line-height 	          : $line-height-px / $font-size-px;

// HEADINGS
$heading-font-family    : 'Titillium Web', sans-serif;
$heading-font-weight    : 700;

// FONT FAMILY ALTERNATIVES
$font-family-alt 		    : Cambria, Georgia, Times, "Times New Roman";
$font-family-code 	    : Monaco, Courier New, monospace;

// INPUTS ELEMENTS
$input-height           : 40px;

// BUTTONS
$btn-height         : $input-height;
$btn-padding        : 10px;
$btn-text-align     : center;
// $btn-border-width   : 1px;
// $btn-border-style   : solid;
// $btn-border-colour  : orange;
$btn-small          : 14px;
$btn-large          : 18px;

// PATHS
$img-path               : 'assets/img';
$font-path 	            : 'assets/fonts';

// SPACINGS
$rhythm                 : $line-height-px / $font-size-px * 1rem;
$gutter                 : 24px / $font-size-px * 1rem;

// MISC
$transition-duration 	  : 250ms;
$border-radius 				  : 6px;
$max-width 						  : 1224px;
