// A-SETTINGS/VARIABLES - Paths

// elements
$embedded 					  : false;
$forms                : false;
$headings   				  : true;
$inputs 						  : false;
$links  						  : true;
$lists 			 				  : true;
$tables 						  : false;
$paragraphs           : true;
$typeQuotes           : false;
$typeStrong           : false;
$typeAbbr             : false;
$typeSmall            : false;

// components
$buttons              : false;
$logo                 : true;
$site-footer          : true;
$site-header          : true;
$site-navigation      : true;

// utilities/helpers
$u-widths-flexbox     : false;
$u-colours 		        : false;
$u-visibility 	      : true;
$u-spacings           : true;
$u-flexbox            : false;
