// COMPONENT - burger

.c-burger {
  border: none;
  background: none;
  width: rem(38px);
  height: rem(24px);
  cursor: pointer;

    &_line, &::before, &::after {
      position: absolute;
      left: 0;
      width: 100%;
      height: rem(4px);
      background-color: colour(brand, a);
      border-radius: 6px;
    }
    &_line {
      top: 50%;
      margin-top: rem(-2px);
    }

    &::before, &:after {
      content: '';
    }
    &::before {
      top: 0;
    }
    &::after {
      bottom: 0;
    }

    &.isActive {
      &::before, &::after {
        background-color: darken(colour(brand, a),20);
      }
      &::before {
        transform: translate3d(0,10px,0) rotate(45deg);
      }
      &::after {
        transform: translate3d(0,-10px,0) rotate(-45deg);
      }
      .c-burger_line {
        display: none;
      }
    }
}
