<!doctype html>
<html lang="en" class="no-js {{ pageClass }}">

	<head>

		{% include "meta.nunjucks" %}

		{% include "css.nunjucks" %}

		{% include "js-head.nunjucks" %}

	</head>

	<body>

		<svg style="position: absolute; width: 0; height: 0;" width="0" height="0" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
			<defs>
			{% block icons %}{% endblock %}
			</defs>
		</svg>

		{% include "site-header.nunjucks" %}

		<main class="c-main">
			{% block content %}{% endblock %}
		</main> <!-- !END main.l-main -->

		{% include "site-footer.nunjucks" %}

		{% include "js-foot.nunjucks" %}

	</body> <!-- !END body -->

</html>
