---
title: FE - Tech test
desc: William Hill Technical test for Front-end developers
---

{% extends "default.html" %}

{% block content %}

  <nav id="menu" style="margin-bottom: 24px; border-bottom: 1px solid grey"></nav>
  <section id="content" style="margin-bottom: 24px; padding: 24px; text-align: center"></section>

{% endblock %}
