// G-UTILITIES - Colours

@if $u-colours {
  @each $theme, $colour in map-get($colours, brand) {
    .u-col-#{$theme} {
      color: $colour !important;
    }

    .u-bgcol-#{$theme} {
      background: $colour !important;
    }
  }
}//end if $colours
