// G-UTILITIES - Flex

@if $u-flexbox {
  .u-flex {
    display: flex !important; //container property
  }

  .u-flex-col {
    flex-direction: column !important; //container property
  }

  .u-flex-rowRev {
    flex-direction: row-reverse !important; //container property
  }

  .u-flex-colRev {
    flex-direction: column-reverse !important; //container property
  }

  .u-flex-grow1 {
    flex: 1; //child items
  }

  .u-flex-end {
    justify-content: flex-end !important; //container property
  }

  .u-flex-center {
    justify-content: center !important; //container property
  }

  .u-flex-spaceBetween {
    justify-content: space-between !important; //container property
  }

  .u-flex-spaceAround {
    justify-content: space-around !important; //container property
  }

  .u-flex-start {
    align-items: flex-start !important; //container property
  }

  .u-flex-end {
    align-items: flex-end !important; //container property
  }

  .u-flex-center {
    align-items: center !important; //container property
  }
}//end if $colours
