// G-UTILITIES - Visibility

@if $u-visibility {
  .is-visible {
    display: block !important;
  }

  .is-hidden {
    display: none !important;
  }

  .is-vh {
    @include vh;
  }

  @media only screen {
    .hide-default, .hide-default-up {
      display: none;
    }
  }

  $mapKeys: prepend(map-keys($breakpoints), "default");
  $i: 1;

  @each $bp, $query in $breakpoints {
    @include bp($bp) {
      @if (nth($mapKeys, $i) == "default") {
        .hide-#{nth($mapKeys,$i)} {
          display: inherit !important;
        }
      }

      @else {
        .hide-bp#{nth($mapKeys,$i)} {
          display: inherit !important;
        }
      }

      .hide-bp#{$bp},
      .hide-bp#{$bp}-up {
        display: none !important;
      }
    }

    $i: $i + 1;
  }// END @each
}//end if $u-visibility
