// COMPONENT - Secondary-navigaiton

.c-secondaryNav {

  @include bp(20, max) {

    .has-js & {
      position: fixed;
      top: 0;
      left: rem(-260px);
      bottom: 0;
      width: rem(260px);
      background: colour(brand, a);
    }
  }

  &_link {
    display: block;
    height: rem(48px);
    line-height: rem(48px);
    padding: 0 rem(12px);
    background-image: linear-gradient(lighten(colour(brand, a),5), lighten(colour(brand, a), 10));
    color: colour(brand, b);

      &:hover {
        background: colour(brand, b);
        color: colour(brand, a);
      }
  }

  @include bp(20) {
    display: block;
    background: lighten(colour(brand, a),10);
    background-image: linear-gradient(lighten(colour(brand, a),5), lighten(colour(brand, a), 10));

    &_container {
      @include container;
    }
    &_list {
      @include cf;
    }

    &_item {
      float: left;
      width: 12%;
      text-align: center;
      &:not(:last-child) {
        border-right: 1px solid lighten(colour(brand, b),48);
      }
    }

    &_link {
      background: none;
    }

    &.isSticky {
      position: fixed;
      top: 0;
      left: 0;
      right: 0;
    }
  }

  .no-js & {
    display: block;
  }
}
