// COMPONENT - Primary-navigaiton

.c-primaryNav {
  display: none;

  .no-js &, &.isActive {
    display: block;
  }

  &_link {
    display: block;
    height: rem(48px);
    line-height: rem(48px);
    padding: 0 rem(12px);
    background-image: linear-gradient(lighten(colour(brand, b),5), lighten(colour(brand, b), 10));
    color: colour(brand, a);

      &:hover {
        background: colour(brand, a);
        color: colour(brand, b);
      }
  }

  @include bp(20) {
    display: block;
    background: lighten(colour(brand, b),10);
    background-image: linear-gradient(lighten(colour(brand, b),5), lighten(colour(brand, b), 10));

    &_container {
      @include container;
    }
    &_list {
      @include cf;
    }

    &_item {
      float: left;
      width: 20%;
      text-align: center;
      &:not(:last-child) {
        border-right: 1px solid lighten(colour(brand, b),20);
      }
    }

    &_link {
      background: none;
    }
  }
}
