// COMPONENT - Site-footer

.c-siteFooter {
  background: darken(colour(main, bg),5);
  border-top: 1px solid colour(main, borders);

  &_container {
    @include container;
  }

  &_copyright {
    @include vr(14px, 2, 0);
  }
}
