// COMPONENT - Site-header

.c-siteHeader {
  margin-bottom: $rhythm * 2;
  background: white;
  border-bottom: 1px solid colour(main, borders);

  &_container {
    position: relative;
    padding: $rhythm / 2 rem(24px);
    max-width: $max-width;
    margin: 0 auto;
    text-align: center;
  }

  &_navMain, &_navSecondary {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
  }
  &_navMain {
    right: rem(10px);
  }

  &_navSecondary {
    left: rem(10px);
  }

  @include bp(10) {
    &_container {
      padding-top: $rhythm;
    }
  }

  @include bp(20) {
    &_container {
      margin-bottom: $rhythm;
    }
    &_navMain, &_navSecondary {
      display: none;
    }
    &_tagLine {
      margin-left: rem(6px);
    }
  }

  .no-js & {
    &_navMain, &_navSecondary {
      display: none;
    }
  }
}
