// B-GLOBAL/BODY - Body styles

body {
  margin: 0;
  height: 100%;
  padding: 0;
  font-size: $font-size;
  font-family: $font-family;
  line-height: $line-height;
  color: colour(main, text);
  background: colour(main, bg);
  transition: all 250ms ease-in;

  @include bp(20, max) {
    &.secondaryNav-IsActive {
      transform: translateX(rem(260px));
    }
  }
}
