// B-TOOLS/MIXINS - Vertical Rhytym

@mixin vr($size, $multiplier: 1, $margin-bottom: null) {
  font-size: ($size / $font-size-px) * 1rem;
  line-height: ceil($size / $line-height-px) * (($line-height-px * $multiplier) / $size);

  @if ($margin-bottom != null) {
    margin-bottom: $rhythm * $margin-bottom;
  }
}
