// COMPONENT - Image grid

.c-imageGrid {
  margin-left: -$gutter;
  @include cf;

  &_item {
    padding-left: $gutter;
    margin-bottom: rem(12px);
  }

  &_img {
    width: 100%;
  }

  @include bp(10) {
    &_item {
      float: left;
      width: 50%;
    }
  }
  @include bp(30) {
    &_item {
      float: left;
      width: 20%;
    }
  }
}
