// D-ELEMENTS - Forms

@if $forms {
  fieldset, legend {
    margin: 0;
    padding: 0;
  }

  fieldset {
    border: 0;
  }

  legend {
    @include vh;
  }

  label {
    display: inline-block;
    margin-bottom: $rhythm / 4;
  }
}//end if $forms
