// D-ELEMENTS - Headings

@if $headings {
  h1, h2, h3, h4 {
    margin: 0;
    padding: 0;
    font-family: $heading-font-family;
    font-size: inherit;
    font-weight: $heading-font-weight;
  }
}//end if $headings
