// D-ELEMENTS - Inputs

@if $inputs {
  select,
  textarea,
  input {
    margin: 0;
    height: $input-height;
    padding: 0 em(10px);
    border-width: 1px;
    border-style: solid;
    border-color: colour(main, borders);
    border-radius: 0;
    vertical-align: middle;
    -webkit-appearance: none;
    font: inherit;

    &:focus {
      outline: none;
    }

    &:hover {
      border-color: red;
    }
  }

  :-moz-placeholder,
  ::-webkit-input-placeholder {
    color: purple;
  }

  input[type="checkbox"],
  input[type="radio"] {
    width: auto;
    margin-right: rem(4px);
  }

  input[disabled],
  select[disabled],
  textarea[disabled],
  input[readonly],
  select[readonly],
  textarea[readonly] {
    cursor: default;
    opacity: 0.25;
  }
}//end if $inputs

// typical form markup
// <form>
// 	<fieldset>
// 		<legend></legend>
// 		<ul>
// 			<li>
// 				<label></label>
// 				<input type="text">
// 			</li>
// 			<li>
// 				<label></label>
// 				<input type="text">
// 			</li>
// 		</ul>
// 	</fieldset>
// </form>
