// D-ELEMENTS - Typography

@if $paragraphs {
  p {
    margin: 0;
    padding: 0;
  }
}

@if $typeQuotes {
  blockquote,
  q {
    margin: 0;
    padding: 0;
    quotes: none;
  }

  blockquote::before,
  blockquote::after,
  q::before,
  q::after {
    content: "";
    content: none;
  }
}//end if $typeQuotes

@if $typeStrong {
  strong {
    font-weight: bold;
  }
}//end if $typeStrong

@if $typeAbbr {
  abbr {
    border-bottom: 1px dotted colour(main, borders);
    cursor: help;
  }
}//end if $typeAbbr

@if $typeSmall {
  small {
    font-size: 80%;
  }
}//end if $typeSmall
